name: Test

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: node
        run: echo "##[set-output name=versoin;]$(cat .nvmrc)"
        id: node
      - uses: actions/setup-node@v2
        with:
          node-version: "${{ steps.node.outputs.version }}"
      - name: Run tests
        run: |
          npm ci
          npm run test:type
          npm run lint
          npm run test:full
          npm run test:outdated
